<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConn" connectionString="Data Source=DESKTOP-UFPFKC3\SQLEXPRESS;           Initial Catalog=C4_BOOK_MAINTAIN;           Integrated Security=False;            User ID=sa;           Password=skye870829;           Connect Timeout=15;           TrustServerCertificate=False" />
		<!--Integrated Security=True 會用WINDOWS登入,TrustServerCertificate可以嘗試更改-->
	</connectionStrings>
</configuration>