<div class="container mt-5">
	<h2>明細畫面</h2>
	<a href="/Book/Index">返回</a>
	<div id="detailtbcontainer" class="mt-3">
	</div>
</div>
<script>
	var id = oneValues();
	$(document).ready(function () {
		console.log(id);
		$("#detailtbcontainer").kendoGrid({
			dataSource: {
				transport: {
					read: {
						type: "GET", url: "/Book/ShowBookDetail/"+id, dataType: "json"
					}
				},
				schema: {
					model: {
						fields: {
							BookID: { type: "string" },
							BookName: { type: "string" },
							BookAuthor: { type: "string" },
							BookPublisher: { type: "string" },
							Note: { type: "string" },
							BoughtDate: { type: "string" },
							BookClassId: { type: "string" },
							BookStatusId: { type: "string" },
							BookKeeperId: { type: "string" }
						}
					}
				},
				pageSize: 20,
			},
			height: 200,
			sortable: false,
			pageable: {
				input: false,
				numeric: false
			},
			editable: false,//edit開了功能全開
			columns: [
				{ hidden: true, field: "BookID" },
				{ field: "BookName", title: "書名", width: "30%", headerAttributes: { style: "text-align: center" } },
				{ field: "BookAuthor", title: "作者", width: "15%", headerAttributes: { style: "text-align: center" } },
				{ field: "BookPublisher", title: "出版商", width: "30%", headerAttributes: { style: "text-align: center" } },
				{ field: "Note", title: "內容簡介", width: "20%", headerAttributes: { style: "text-align: center" } },
				{ field: "BoughtDate", title: "購書日期", width: "20%", headerAttributes: { style: "text-align: center" } },
				{ field: "BookClassId", title: "圖書類別", width: "35%", headerAttributes: { style: "text-align: center" } },
				{ field: "BookStatusId", title: "借閱狀態", width: "20%", headerAttributes: { style: "text-align: center" } },
				{ field: "BookKeeperId", title: "借閱人", width: "25%", headerAttributes: { style: "text-align: center" } },
				{ command: { text: "編輯", click: ModifyBook }, title: "", width: "120px", headerAttributes: { style: "text-align: center" } }
			],
		});
	});

	/*FUNCTION*/
	function ModifyBook() {
		var tr = event.target.closest("tr");
		var grid = $("#detailtbcontainer").data("kendoGrid");
		var dataItem = grid.dataItem(tr);
		var address = "/Book/UpdateBook/" + dataItem.BookID;
		location.replace(address);
	}
	function oneValues() {
		var result;
		var url = location.href;
		result = url.split('/');
		return result[result.length - 1];
	}
</script>